#logo{
	padding-top: 1px;
	padding-left: 70px;
	background-image: url("img/ecw.png")
}
#carroceria{
    display:block;
    margin:auto;
}
#interior{
    display:block;
    margin:auto;
}
#ruedas{
    display:block;
    margin:auto;
}
#footer{
    padding-top: 20px;
    display:block;
    margin:auto;
}
#face{
    padding-top: 20px;
}
#compras{
    padding-top: 20px;
}
#webpay{
    display:block;
    margin:auto;
}
#contacto{
    padding-top: 20px;
}