<!DOCTYPE html>
  <html ng-app="myApp">
    <head>
	  <title>Activar plan</title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
	  <link type="text/css" rel="stylesheet" href="../css/index.css" media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	  
	  <script src = "../js/angular.min.js"></script>
	  <script src = "../js/controller.js"></script>
		<meta charset="utf-8"/>
    </head>
	  
    <body ng-controller="myCtrol">
		<div class="navbar-fixed">
			<nav>
			<div class="nav-wrapper" style="background-color:white;">
				<a href="http://www.ecoautos.cl/" class="brand-logo" id="logo"><img class="responsive-img" src="../img/ECW.png" style="height:60%; width:60%"></a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons grey-text	">menu</i></a>
				<ul class="right hide-on-med-and-down">
                    <li><a href="http://ecoautos.cl/" class="grey-text">Inicio</a></li>
                    <li><a href="http://www.ecoautos.cl/html/agendar.html" class="grey-text">Agendar hora</a></li>
                    <li style="background-color:crimson;"><a href="../html/activar.html" class="white-text">Activar plan</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li>
						<div class="container">
							<span class="header grey-text flow-text center">EcoCarWash<i class="material-icons right">settings</i></span>
							<div class="divider"></div>
						</div>
					</li>
                    <li><a href="http://ecoautos.cl/">Inicio</a></li>
					<li><a href="../html/planes.html">Planes</a></li>
                    <li><a href="../html/agendar.html">Agendar hora</a></li>
				</ul>
			</div>	
		</nav>
		</div>
		<section>
            <div class="container">
			<div style="margin:20px"></div>
					<div class="col s12">
						<div class="row">
							<div class="input-field col s12">
								<h3 class="header center">Activa tu plan</h3>
								<div class="row">
					<div class="col s6">
						<div class="input-field col s12 m6">
							<p class="align-center">Modelo de tu vehiculo</p>
							<p>
								<input name="group1" ng-model="modelo" value="modelo1" type="radio" id="modelo1" ng-change="newValue()">
								<label for="modelo1">Sedan/Citycar</label>
							</p>
							<p>
								<input name="group1" ng-model="modelo" value="modelo2" type="radio" id="modelo2" ng-change="newValue()">
								<label for="modelo2">Camioneta/Suv</label>
							</p>
							<p>
								<input name="group1" ng-model="modelo" value="modelo3" type="radio" id="modelo3" ng-change="newValue()">
								<label for="modelo3">F150/Ram</label>
							</p>
						</div>
						<div class="input-field col s12 m6">
							<p>Tu plan</p>
							<p>
								<input name="group2" ng-model="plan" value="plan1" type="radio" id="plan1" ng-change="newValue2()">
								<label for="plan1">1 Lavado Full</label>
							</p>
							<p>
								<input name="group2" ng-model="plan" value="plan2" type="radio" id="plan2" ng-change="newValue2()">
								<label for="plan2">1 Lavado Full + 3M</label>
							</p>
							<p>
								<input name="group2" ng-model="plan" value="plan3" type="radio" id="plan3" ng-change="newValue2()">
								<label for="plan3">2 Lavados Full + 3M</label>
							</p>
							<p>
								<input name="group2" ng-model="plan" value="plan4" type="radio" id="plan4" ng-change="newValue2()">
								<label for="plan4">3 Lavados Full + 3M</label>
							</p>
						</div>
					</div>
					<div class="col s12 m6">
						<div class="container">
							<h6 class="header center">Paga via WebPay</h6>
						</div>
						<div class="col s12" ng-show = "modelo == 'modelo1' && plan == 'plan1'">
							<h6>Sedan/Citycar - 1 Lavado Full</h6>
							<h6>$28</h6>
							<form  name="btnPago" method="post" action="https://webpay3g.transbank.cl/filtroUnificado/buttonService">
								<input type="hidden" name="buttonId" value="eb997c3b3b02bcc2694540e27196b54f"/>
								<input type="image" src="https://www.transbank.cl/public/img/botonwebpay.gif"/></p>
							</form>
						</div>
						<div class="col s12" ng-show = "modelo == 'modelo1' && plan == 'plan2'">
							<h6>Sedan/Citycar - 1 Lavado Full + Abrillantador</h6>
							<form  name="btnPago" method="post" action="https://webpay3g.transbank.cl/filtroUnificado/buttonService">
								<input type="hidden" name="buttonId" value="607fba4fafce73f95dc04b283d2674a8"/>
								<input type="image" src="https://www.transbank.cl/public/img/botonwebpay.gif"/></p>
							</form>
						</div>
			        	<div class="col s12" ng-show = "modelo == 'modelo1' && plan == 'plan3'">
							<h6>Sedan/Citycar - 2 Lavados Full + Abrillantador</h6>
							<form name="btnPago" method="post" action="https://webpay3g.transbank.cl/filtroUnificado/buttonService">
								<input type="hidden" name="buttonId" value="08c33e3a78cd087c5c82b517be90f68f"/>
								<input type="image" src="https://www.transbank.cl/public/img/botonwebpay.gif"/>
							</form>
			        	</div>
						<div class="col s12" ng-show = "modelo == 'modelo1' && plan == 'plan4'">
							<h6>Sedan/citycar - 3 Lavados Full + Abrillantador</h6>
							<form name="btnPago" method="post" action="https://webpay3g.transbank.cl/filtroUnificado/buttonService">
								<input type="hidden" name="buttonId" value="ae4814d4a5b93c3b706dcbef8ba9dc31"/>
								<input type="image" src="https://www.transbank.cl/public/img/botonwebpay.gif"/>
							</form>
						</div>
						<div class="col s12" ng-show = "modelo == 'modelo2' && plan == 'plan1'">
							<h6>Camioneta/suv - 1 Lavado Full</h6>
							<form name="btnPago" method="post" action="https://webpay3g.transbank.cl/filtroUnificado/buttonService">
								<input type="hidden" name="buttonId" value="37ccb15d2f04f3b8fb8c781a598d7185"/>
								<input type="image" src="https://www.transbank.cl/public/img/botonwebpay.gif"/>
							</form>
						</div>
						<div class="col s12" ng-show = "modelo == 'modelo2' && plan == 'plan2'">
							<h6>Camioneta/Suv - 1 Lavado Full + Abrillantador</h6>
							<form name="btnPago" method="post" action="https://webpay3g.transbank.cl/filtroUnificado/buttonService">
								<input type="hidden" name="buttonId" value="55b47a8e08f1e46dacce422c07cb3aef"/>
								<input type="image" src="https://www.transbank.cl/public/img/botonwebpay.gif"/></p>
							</form>
						</div>
						<div class="col s12" ng-show = "modelo == 'modelo2' && plan == 'plan3'">
							<h6>camioneta/Suv - 2 Lavados Full + Abrillantador</h6>
							<form name="btnPago" method="post" action="https://webpay3g.transbank.cl/filtroUnificado/buttonService">
								<input type="hidden" name="buttonId" value="c45c2a829f9535e81a711998b0a5d30a"/>
								<input type="image" src="https://www.transbank.cl/public/img/botonwebpay.gif"/>
							</form>
						</div>
						<div class="col s12" ng-show = "modelo == 'modelo2' && plan == 'plan4'">
							<h6>Camioneta/Suv - 3 Lavados Full + Abrillantador</h6>
							<form name="btnPago" method="post" action="https://webpay3g.transbank.cl/filtroUnificado/buttonService">
								<input type="hidden" name="buttonId" value="05a8ad52b422a3baeb573722201f0824"/>
								<input type="image" src="https://www.transbank.cl/public/img/botonwebpay.gif"/>
							</form>
						</div>
						<div class="col s12" ng-show = "modelo == 'modelo3' && plan == 'plan1'">
							<h6>F150/Ram 1 Lavado Full</h6>
							<form name="btnPago" method="post" action="https://webpay3g.transbank.cl/filtroUnificado/buttonService">
								<input type="hidden" name="buttonId" value="2dd033378d209b68b639afd5c4aeb850"/>
								<input type="image" src="https://www.transbank.cl/public/img/botonwebpay.gif"/></p>
							</form>
						</div>
	  					<div class="col s12" ng-show = "modelo == 'modelo3' && plan == 'plan2'">
							<h6>F150/Ram 1 Lavado Ful + Abrillantador</h6>
							<form name="btnPago" method="post" action="https://webpay3g.transbank.cl/filtroUnificado/buttonService">
								<input type="hidden" name="buttonId" value="a2e44cbab594c7b46f58490eb9e057e9"/>
								<input type="image" src="https://www.transbank.cl/public/img/botonwebpay.gif"/></p>
							</form>
	  					</div>
						<div class="col s12" ng-show = "modelo == 'modelo3' && plan == 'plan3'">
							<h6>F150/Ram 2 Lavados Full + Abrillantador</h6>
							<form name="btnPago" method="post" action="https://webpay3g.transbank.cl/filtroUnificado/buttonService">
								<input type="hidden" name="buttonId" value="1c10eab6ff7782f39b73122daf524ea9"/>
								<input type="image" src="https://www.transbank.cl/public/img/botonwebpay.gif"/>
							</form>
						</div>
						<div class="col s12" ng-show = "modelo == 'modelo3' && plan == 'plan4'">
							<h6>F150/Ram 3 Lavados Full + Abrillantador</h6>
							<form name="btnPago" method="post" action="https://webpay3g.transbank.cl/filtroUnificado/buttonService">
								<input type="hidden" name="buttonId" value="f1b8eebe950c2ee2fcdf302efd4595ed"/>
								<input type="image" src="https://www.transbank.cl/public/img/botonwebpay.gif"/>
							</form>
						</div>
					</div>
				</div>		
							</div>
							</div>
						</div>
					</div>
			</div>
		</section>
		<footer style="background-color:#575757">
					<div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Eco Autos</h5>
              <div class="row">
				<span>
					<img src="../img/facebook.png">
					<img src="../img/youtube.png">
					<img src="../img/instagram.png">
				</span>  
			  </div>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contacto</h5>
                <ul>
                  <li><a class="white-text text-lighten-3" href="#!">contacto@ecoautos.cl</a></li>
                  <li><a class="white-text text-lighten-3" href="#!">+56 2 2302 7108</a></li>
                  <li><a class="white-text text-lighten-3" href="#!">Alonso de cordova 5870, Las condes</a></li>
                </ul>
              </div>
            </div>
          </div>
		<div class="container">
			<div class="row">
				<div class="col s6"><h6><b>ECO CAR WASH © 2017</b> Todos los derechos reservados</h6></div>
				<div align="right" class="col s6"><h6><b>Powered by</b> <a href="http://ridnois.com/"><b>RiD Company</b></a></h6></div>
			</div>
					</div>	
			</footer>
		
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../js/materialize.min.js"></script>
	  <script type="text/javascript" src="../js/index.js"></script>

    </body>
  </html>