<!DOCTYPE html>
  <html ng-app="myApp2">
    
	  <head >
	  <title>Agendar</title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	  <link href="../css/index.css" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
        <script src="../js/angular.min.js"></script>
        <script src="../js/controller2.js"></script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body ng-controller="myCtrol2">
		
		<div class="navbar-fixed">
			<nav>
			<div class="nav-wrapper" style="background-color:white;">
				<a href="http://www.ecoautos.cl" class="brand-logo" id="logo"><img class="responsive-img" src="../img/ECW.png" style="height:60%; width:60%"></a>
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons grey-text	">menu</i></a>
				<ul class="right hide-on-med-and-down">
                    <li><a href="http://ecoautos.cl/" class="grey-text">Inicio</a></li>
                    
                    <li style="background-color:crimson;"><a href="../html/agendar.html" class="white-text">Agendar hora</a></li>
					<li><a href="../html/activar.html" class="grey-text">Activar plan</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li>
						<div class="container">
							<span class="header grey-text flow-text center">EcoCarWash<i class="material-icons right">settings</i></span>
							<div class="divider"></div>
						</div>
					</li>
                    <li><a href="http://ecoautos.cl/">Inicio</a></li>
					<li><a href="http://www.ecoautos.cl">Activar</a></li>
                    <li><a href="../html/agendar.html">Agendar hora</a></li>
                
				</ul>
			</div>	
		</nav>
		</div>
		<section>
            <div class="container">
			<div style="margin:20px"></div>
					<form class="col s12">
						<div class="row">
							<div class="col s12">
								<h1 class="header flow-text center">Agenda tu lavado aqui o llamanos al 223027108</h1>
								<h5 class="flow-text" style="color:#008ed6">Recuerda que debes agendar tu lavado con 48 horas de anticipacion.</h5>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<input id="first_name" type="text" ng-model="nombre" class="validate">
								<label for="first_name">Nombre</label>
							</div>
							<div class="input-field col s6">
								<input id="plans1" type="text" ng-model="nplan" class="validate">
								<label for="plans1">N° De Plan</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s6">
								<input class="validate" id="numero" ng-model="ntelefono" type="text">
								<label for="numero">Número Telefónico</label>
							</div>
							<div class="input-field col s6">
								<input class="validate" id="comunas1" ng-model="comuna" type="text">
								<label for="comunas1">Comuna</label>
							</div>
						</div>
						<div class="row">
								<div class="input-field col s5">
									<input class="validate" id="calle1" ng-model="calle" type="text">
									<label for="calle1">Calle</label>
								</div>
								<div class="input-field col s4">
									<input class="validate" id="num1" ng-model="ncasa" type="text">
									<label for="num1">Número</label>
								</div>
								<div class="input-field col s3">
									<input class="validate" id="dep1" ng-model="depto" type="text">
									<label for="dep1">Depto. (opcional)</label>
								</div>
						</div>
						<div class="col s12">
							<div class="row">
								<div class="input-field col s6">
									<input class="validate" ng-model="fecha" type="text" id="fecha">
									<label for="fecha">Fecha</label>
								</div>
								<div class="input-field col s6">
									<input class="validate" type="text" ng-model="hora" id="horas1">
									<label for="horas1">Hora</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								
									<button class="btn waves-effect waves-light" ng-click="inserData()" name="action">
									Agendar
									<i class="material-icons right">send</i>
									</button>
							</div>
						</div>
					</form>
				</div>
		</section>
		<footer style="background-color:#575757">
					<div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Eco Autos</h5>
              <div class="row">
				<span>
					<img src="../img/facebook.png">
					<img src="../img/youtube.png">
					<img src="../img/instagram.png">
				</span>  
			  </div>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contacto</h5>
                <ul>
                  <li><a class="white-text text-lighten-3" href="#!">contacto@ecoautos.cl</a></li>
                  <li><a class="white-text text-lighten-3" href="#!">+56 2 2302 7108</a></li>
                  <li><a class="white-text text-lighten-3" href="#!">Alonso de cordova 5870, Las condes</a></li>
                </ul>
              </div>
            </div>
          </div>
		<div class="container">
			<div class="row">
				<div class="col s6"><h6><b>ECO CAR WASH © 2017</b> Todos los derechos reservados</h6></div>
				<div align="right" class="col s6"><h6><b>Powered by</b> <a href="http://ridnois.com/"><b>RiD Company</b></a></h6></div>
			</div>
					</div>	
			</footer>
		
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="../js/materialize.min.js"></script>
	  <script type="text/javascript" src="../js/index.js"></script>
        
        
        
    </body>
  </html>